:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 1.6rem;
  font-family: sans-serif;
}

h1 {
  font-size: 3.6rem;
  line-height: 5.4rem;
  color: var(--button-bg);
}

.text-content > p {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--button-bg);
}

/*############# HEADER ###############*/

header {
  background: var(--purple-bg);
  padding: 4rem 0;
}

nav {
  display: flex;
  justify-content: space-evenly;

  padding: 3rem 0;
  margin-bottom: 4rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 4rem;
}

nav ul li {
  list-style: none;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container > input {
  height: 3.5rem;
}

.search-container > img {
  background: var(--button-bg);
  padding: 0.5rem;
  height: 3.5rem;
}

section.header-content {
  display: flex;
  justify-content: space-evenly;
}

div.text-content {
  display: grid;
  width: 57rem;
}

/*############# MAIN ###############*/

main {
  color: var(--purple-bg);

}

section.main-post{
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
  width: 100vw;
}

.post{
  width: 56.9rem;
}

.bottom-post-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}

.main-post {
  width: 56.9rem;
}

.side-post {
  width: 48.8rem;
}

.bottom-post {
  width: 37rem;
}
